.Cal {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    background: #fff;
    z-index: 666
}

.Cal table {
    width: 240px;
    background: #fff;
    border-collapse: collapse;
    font: 12px verdana
}

.Cal table tbody td {
    text-align: center;
    height: 24px;
    width: 32px;
    line-height: 24px;
    color: #ccc;
    font-family: "Microsoft yahei"
}

.Cal table thead th {
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding-bottom: 5px;
    font-family: "Microsoft yahei"
}

.Cal table thead .ctrl-prev,
.Cal table thead .ctrl-next {
    background: url('http://misc.360buyimg.com/virtuals/ui/css/i/cal.png') no-repeat;
    overflow: hidden;
    height: 25px;
    width: 25px;
    line-height: 10000px;
    text-align: center
}

.Cal table thead .ctrl-prev {
    float: left
}

.Cal table thead .ctrl-next {
    float: right
}

.Cal table thead .prevYear {
    background-position: 0 -50px
}

.Cal table thead .prevMonth {
    background-position: 0 -100px
}

.Cal table thead .nextYear {
    background-position: 0 -75px
}

.Cal table thead .nextMonth {
    background-position: 0 -125px
}

.Cal table thead .prevYear:hover {
    background-position: 0 -150px
}

.Cal table thead .prevMonth:hover {
    background-position: 0 -200px
}

.Cal table thead .nextYear:hover {
    background-position: 0 -175px
}

.Cal table thead .nextMonth:hover {
    background-position: 0 -225px
}

.Cal table thead .disable.prevYear {
    background-position: 0 -250px
}

.Cal table thead .disable.prevMonth {
    background-position: 0 -300px
}

.Cal table thead .disable.nextYear {
    background-position: 0 -275px
}

.Cal table thead .disable.nextMonth {
    background-position: 0 -325px
}

.Cal table thead .days {
    background: #eaeaea
}

.Cal table thead .days th {
    border: 1px solid #eaeaea;
    font-family: "Microsoft yahei"
}

.Cal table td {
    border: 1px solid #eaeaea;
    padding: 2px 0;
    font-family: "Microsoft yahei"
}

.Cal table td span.festival {
    color: #f00
}

.Cal table td.date {
    color: #333;
    cursor: pointer
}

.Cal table td.date.chosen {
    background: #ffae2e;
    color: #fff
}

.Cal table td.date.over {
    background: #ffc76f;
    color: #fff
}

.Cal table .selectMonth {
    padding: 0 5px 0 10px;
    float: left
}

.Cal table .selectMonth select {
    width: 55px;
    font-family: "Microsoft yahei"
}

.Cal table .slecteYear {
    float: left
}

.Cal table .slecteYear select {
    width: 60px;
    font-family: "Microsoft yahei"
}

.Cal table .today {
    text-align: center;
    display: block;
    padding: 4px 0;
    color: #005ea7;
    font-weight: 700;
    background-color: #f9f9f9;
    cursor: pointer
}

.Cal table .J-sun,
.Cal table .J-sat {
    color: #e43f43
}

.Cal .close {
    display: none
}

.Cal .hms {
    height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.Cal input {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 14px;
    padding: 2px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 14px;
    font-family: "Microsoft yahei";
    vertical-align: middle;
}

.Cal .time {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 20px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.Cal .tm {
    border: 0;
    padding: 0;
    width: 10px;
    height: 20px;
    line-height: 20px;
}

.Cal .proof {
    height: 20px;
    width: 15px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    overflow: hidden;
    vertical-align: middle;
}

.Cal .proof i {
    float: left;
    height: 0;
    width: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
}

.Cal .proof .up {
    border-color: transparent transparent #ffae2e transparent;
    margin-top: -1px;
    margin-bottom: 2px;
}

.Cal .proof .down {
    border-color: #ffae2e transparent transparent transparent;
}